!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:100', rel='stylesheet', type='text/css')
  body#portfolio
    #menu
      h1 PLD Construction + Development
      ul
        li 
          a(href="/") Home
        li 
          a(href="/about") About
        li 
          a(href="/gallery") Gallery
        li 
          a(href="/services") Services
        li 
          a(href="/portfolio") Portfolio
        li 
          a(href="/contact") Contact
    #portfolio    
      - if (bldgs.length)
        - each bldg, i in bldgs
          #bldg
            div(style="margin-left:27px;display:block")
              a(href="/edit/bldg?id="+i) Edit This Property
            - if (bldg.img)
              img(src="../"+bldg.img.medium, width="300")
            p= bldg.address
            p Status: 
              =bldg.status
            p.descript=bldg.description
            br
