!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:100', rel='stylesheet', type='text/css')
  body#portfolio
    #menu
      h1 PLD Construction and Development
      ul
        li 
          a(href="/about") About
        li 
          a(href="/services") Services
        li 
          a(href="/portfolio") Portfolio
        li 
          a(href="/gallery") Gallery
    #sidebar
      ul
        - each s in sections
          if (s == section)
            li
              a(href="/gallery?section="+s, class="active") #{s}
          else
            li
              a(href="/gallery?section="+s) #{s}
    #content
      - each g, i in gallery
        -  var usa = g.thumb || g.medium 
        div.thumb
          img(src="../"+usa)