!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:100', rel='stylesheet', type='text/css')
  body#portfolio
    #menu
      h1 PLD Construction and Development
      ul
        li 
          a(href="/edit/about") About
        li 
          a(href="/edit/services") Services
        li 
          a(href="/edit/portfolio") Portfolio
        li 
          a(href="/edit/gallery") Gallery
 
script(type='text/javascript')
  $(document).ready(function(){
  $('.editable').aloha();
  $('#MyForm').transloadit({
      wait: true,
      autoSubmit: false,
      fields: '#_id'
    });
  $('.editable').bind('click', function(){
  $('#ext-comp-1016').hide();
  setTimeout("$('#ext-comp-1016').hide().css({'left':0})", 600);

  })
  });
