!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body#portfolio
    #menu
      h2 PLD Construction and Development
      ul
        li 
          a(href="/about") About
        li 
          a(href="/services") Services
        li 
          a(href="/portfolio") Portfolio
        li 
          a(href="/gallery") Gallery
    #content    
      - each bldg in bldgs
        #bldg
          img(src=bldg.medium)
          p blgd.address
          br
          p Status: =bldg.status
          br
          p=bldg.description
