!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:100', rel='stylesheet', type='text/css')
  body#portfolio
    #menu
      h1 PLD Construction + Development
      ul
        li 
          a(href="/about") About
        li 
          a(href="/services") Services
        li 
          a(href="/portfolio", class="active") Portfolio
        li 
          a(href="/gallery") Gallery
        li 
          a(href="/contact") Contact
    #portfolio    
      - if (bldgs.length)
        - each bldg in bldgs
          #bldg
            - if (bldg.img)
              img(src=bldg.img.medium, width="300")
            p= bldg.address
            br
            p Status: 
              =bldg.status
            br
            p=bldg.description
    #foot
      p © 2011 Promised Land Developmet